# 1) Data Collection and Cleaning with Jupyter 

## Introduction to Jupyter Notebook

Jupyter Notebook is a really easy and user friendly way to experiment with Python code, combining code with notes and documentation. You can do all of this without having use the command line, and the resulting file can be easily published and shared with other people.

An Jupyter Notebook consists of a number of "cells," stacked on the page from top to bottom. Cells can have text or code in them. You can change a cell's type using the "Cell" menu at the top of the page; go to Cell > Cell Type and select either Code for Python code or Markdown for text. (You can also change this for the current cell using the drop-down menu in the toolbar.)

#### Text Cells
Make a new cell, change its type to Markdown, type some stuff and click run. Jupyter Notebook will "render" the text and display it on the page in rendered format. You can hit Enter or click in the cell to edit its contents again. Text in Markdown cells is rendered according to a set of conventions called Markdown, a language for marking up text using formatting instructions.

#### Code Cells

In [22]:
print("This is a code cell.")
print("")
print("Any Python code you type in this cell will be run when you press the 'Run' button,")

This is a code cell.

Any Python code you type in this cell will be run when you press the 'Run' button,

You can define variables or import modules in one code cell and it will be available for you to in all subsequent code cells.

In [1]:
import random
animals = ["dog", "cat", "elephant", "zebra"]

Now, you can use the list of animals and the random module in the cell below.

In [2]:
print(random.choice(animals))

elephant

## Python Modules

Modules refer to a file containing Python statements and definitions. Above, we imported the random module which has many functions for randomizing distributions of numbers. We used the choice function which returns a random element from a sequence.

Throughout, we will be using common modules.

In [6]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd


## Data Collection

For the purposes of our introductory sprint, we will be collecting data either through importing a csv file or web scraping (specifically with social media), but we will focus on web scraping in a later notebook.

In this, we will be using a dataset on school district demographics in New York City. This data was downloaded from [NYC Open Data](https://data.cityofnewyork.us/Education/School-District-Breakdowns/g3vh-kbnw).

In [8]:
school = pd.read_csv('school_district_breakdowns.csv')

We can use the head function to show the first five rows of the dataset (or tail to show the last five rows). We can also use the shape function to see the dimensions of our dataset.

In [14]:
display(school.head())
print(school.shape)

,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,PERCENT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
0,CSD 01 Manhattan,11,4,0.36,7,0.64,0,0,11,100,...,11,100,0,0.00,11,1.00,0,0,11,100
1,CSD 02 Manhattan,124,70,0.56,54,0.44,0,0,124,100,...,124,100,38,0.31,86,0.69,0,0,124,100
2,CSD 03 Manhattan,38,26,0.68,12,0.32,0,0,38,100,...,38,100,14,0.37,24,0.63,0,0,38,100
3,CSD 04 Manhattan,20,13,0.65,7,0.35,0,0,20,100,...,20,100,8,0.40,12,0.60,0,0,20,100
4,CSD 05 Manhattan,7,4,0.57,3,0.43,0,0,7,100,...,7,100,1,0.14,6,0.86,0,0,7,100

(32, 45)

After looking at our data, we can see we have a ton of columns (45!). We want to remove the ones that are not necessary to our overall goal or analysis.

Let's print the names of all the columns to see what we want to keep and remove.

In [15]:
print(school.columns)

Index(['JURISDICTION NAME', 'COUNT PARTICIPANTS', 'COUNT FEMALE',
       'PERCENT FEMALE', 'COUNT MALE', 'PERCENT MALE', 'COUNT GENDER UNKNOWN',
       'PERCENT GENDER UNKNOWN', 'COUNT GENDER TOTAL', 'PERCENT GENDER TOTAL',
       'COUNT PACIFIC ISLANDER', 'COUNT HISPANIC LATINO',
       'PERCENT HISPANIC LATINO', 'COUNT AMERICAN INDIAN',
       'PERCENT AMERICAN INDIAN', 'COUNT ASIAN NON HISPANIC',
       'PERCENT ASIAN NON HISPANIC', 'COUNT WHITE NON HISPANIC',
       'PERCENT WHITE NON HISPANIC', 'COUNT BLACK NON HISPANIC',
       'PERCENT BLACK NON HISPANIC', 'COUNT OTHER ETHNICITY',
       'PERCENT OTHER ETHNICITY', 'COUNT ETHNICITY UNKNOWN',
       'PERCENT ETHNICITY UNKNOWN', 'COUNT ETHNICITY TOTAL',
       'PERCENT ETHNICITY TOTAL', 'COUNT PERMANENT RESIDENT ALIEN',
       'PERCENT PERMANENT RESIDENT ALIEN', 'COUNT US CITIZEN',
       'PERCENT US CITIZEN', 'COUNT OTHER CITIZEN STATUS',
       'PERCENT OTHER CITIZEN STATUS', 'COUNT CITIZEN STATUS UNKNOWN',
       'PERCENT CITIZEN STATUS UNKNOWN', 'COUNT CITIZEN STATUS TOTAL',
       'PERCENT CITIZEN STATUS TOTAL', 'COUNT RECEIVES PUBLIC ASSISTANCE',
       'PERCENT RECEIVES PUBLIC ASSISTANCE',
       'COUNT NRECEIVES PUBLIC ASSISTANCE',
       'PERCENT NRECEIVES PUBLIC ASSISTANCE',
       'COUNT PUBLIC ASSISTANCE UNKNOWN', 'PERCENT PUBLIC ASSISTANCE UNKNOWN',
       'COUNT PUBLIC ASSISTANCE TOTAL', 'PERCENT PUBLIC ASSISTANCE TOTAL'],
      dtype='object')

In [21]:
school = school[school.columns.drop(list(school.filter(regex='PERCENT')))]
school = school[school.columns.drop(list(school.filter(regex='UNKNOWN')))]

print(school.columns)

Index(['JURISDICTION NAME', 'COUNT PARTICIPANTS', 'COUNT FEMALE', 'COUNT MALE',
       'COUNT GENDER TOTAL', 'COUNT PACIFIC ISLANDER', 'COUNT HISPANIC LATINO',
       'COUNT AMERICAN INDIAN', 'COUNT ASIAN NON HISPANIC',
       'COUNT WHITE NON HISPANIC', 'COUNT BLACK NON HISPANIC',
       'COUNT OTHER ETHNICITY', 'COUNT ETHNICITY TOTAL',
       'COUNT PERMANENT RESIDENT ALIEN', 'COUNT US CITIZEN',
       'COUNT OTHER CITIZEN STATUS', 'COUNT CITIZEN STATUS TOTAL',
       'COUNT RECEIVES PUBLIC ASSISTANCE', 'COUNT NRECEIVES PUBLIC ASSISTANCE',
       'COUNT PUBLIC ASSISTANCE TOTAL'],
      dtype='object')

We can rename column names to make them easier to work with later on. In this we created a for loop to replace all spaces with an underscore and make our letters lowercase

In [27]:
new_colnames = []
for col in school.columns:
    new_colnames.append(col.lower())
    for col in range(len(new_colnames)):
        new_colnames[col] = new_colnames[col].replace(" ", "_")
        new_colnames[col] = new_colnames[col].lower()

school.columns = new_colnames

print(school.columns)

Index(['jurisdiction_name', 'count_participants', 'count_female', 'count_male',
       'count_gender_total', 'count_pacific_islander', 'count_hispanic_latino',
       'count_american_indian', 'count_asian_non_hispanic',
       'count_white_non_hispanic', 'count_black_non_hispanic',
       'count_other_ethnicity', 'count_ethnicity_total',
       'count_permanent_resident_alien', 'count_us_citizen',
       'count_other_citizen_status', 'count_citizen_status_total',
       'count_receives_public_assistance', 'count_nreceives_public_assistance',
       'count_public_assistance_total'],
      dtype='object')

Index(['jurisdiction_name', 'count_participants', 'count_female', 'count_male',
       'count_gender_total', 'count_pacific_islander', 'count_hispanic_latino',
       'count_american_indian', 'count_asian_non_hispanic',
       'count_white_non_hispanic', 'count_black_non_hispanic',
       'count_other_ethnicity', 'count_ethnicity_total',
       'count_permanent_resident_alien', 'count_us_citizen',
       'count_other_citizen_status', 'count_citizen_status_total',
       'count_receives_public_assistance', 'count_nreceives_public_assistance',
       'count_public_assistance_total'],
      dtype='object')

# 2) Web Scraping with Twitter and Reddit

Modified from the Fall 2020 workshop by [Melanie Walsh](https://melaniewalsh.org/).

## Why Collect Social Media Data?
* Maybe you're interested in internet language trends, like this [Pudding article about the rise of "lol" on Reddit](https://pudding.cool/2019/10/laugh/#lol).
* Maybe you're interested in Twitter bots, trolls, or online protest movements, like this [NYT article about Twitter bots and Hong Kong protestors or this 538 article about Russian trolls](https://www.nytimes.com/interactive/2019/09/18/world/asia/hk-twitter.html).
* Maybe you're interested in how online communities develop and relate to each other, like this [mapping of subreddits](https://lmcinnes.github.io/subreddit_mapping/subreddit_map.html) or this [538 piece about how people respond to politicians on Twitter](https://fivethirtyeight.com/features/the-worst-tweeter-in-politics-isnt-trump/).

## How Can We Collect Social Media Data Using Computational Tools?

### APIs vs Web Scraping

An **Application Programming Interface** (API) allows you to programmatically extract and interact with data under the hood of websites, social networks, and other projects that make their data publicly available. Twitter and Reddit both offer APIs that allow users to access their data. However, because these APIs are controlled by the companies themselves, they also come with limitations. For example, Twitter does not allow users to collect tweets more than one week in the past without a paid subscription.

Another way that you might collect data from the internet or social media is via web scraping. When you get data from an API, you're getting data from an internal source (from "inside" Twitter). When you "scrape" the surface of a web page, you're getting data from the user-facing surface of a web page, just like the web page you would pull up if you opened Chrome and typed "twitter.com". This makes web scraping sometimes clunky and unreliable when compared to an API, although it's often the only option if there's not an available API or the API does not offer what you're looking for.

### Reddit

Though Reddit has its own API, there is a more popular API for working with Reddit called **Pushshift**. You can read more about Pushshift in this arXiv article: https://arxiv.org/abs/2001.08435 (PDF)

> Why do people use Pushshift’s API instead of the official Reddit API?
>
>In short, Pushshift makes it much easier for researchers to query and retrieve historical Reddit data, provides extended functionality by providing fulltext search against comments and submissions, and has larger single query limits.
>
>Jason Baumgartner, et al., "The Pushshift Reddit Dataset"

#### Install PSAW

To work with the Pushshift API, we're going to install and use a Python wrapper called [PSAW](https://github.com/dmarx/psaw).

In [29]:
!pip3 install psaw

Collecting psaw
  Downloading psaw-0.1.0-py3-none-any.whl (15 kB)
Collecting requests
  Downloading requests-2.26.0-py2.py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 5.2 MB/s eta 0:00:011
Collecting Click
  Downloading click-8.0.1-py3-none-any.whl (97 kB)
     |████████████████████████████████| 97 kB 14.0 MB/s eta 0:00:01
Collecting charset-normalizer~=2.0.0
  Downloading charset_normalizer-2.0.4-py3-none-any.whl (36 kB)
Collecting urllib3<1.27,>=1.21.1
  Downloading urllib3-1.26.6-py2.py3-none-any.whl (138 kB)
     |████████████████████████████████| 138 kB 14.8 MB/s eta 0:00:01
Collecting idna<4,>=2.5
  Downloading idna-3.2-py3-none-any.whl (59 kB)
     |████████████████████████████████| 59 kB 16.6 MB/s eta 0:00:01
Collecting certifi>=2017.4.17
  Using cached certifi-2021.5.30-py2.py3-none-any.whl (145 kB)
Installing collected packages: urllib3, idna, charset-normalizer, certifi, requests, Click, psaw
Successfully installed Click-8.0.1 certifi-2021.5.30 charset-normalizer-2.0.4 idna-3.2 psaw-0.1.0 requests-2.26.0 urllib3-1.26.6
WARNING: You are using pip version 21.1.3; however, version 21.2.4 is available.
You should consider upgrading via the '/opt/homebrew/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.

Import PushshiftAPI

In [34]:
from psaw import PushshiftAPI

Initialize PushShiftAPI

In [35]:
api = PushshiftAPI()

#### PSAW Usage


To collect Reddit posts:

`api.search_submissions(subreddit="subrredit of interest", score=">certain upvote score", q="search keyword", before=date, after=date)`

To collect Reddit comments:

`api.search_comments(subreddit="subrredit of interest", score=">certain upvote score", q="search keyword", before=date, after=date)`

#### Collect Reddit submissions for a subreddit (with more than a certain upvote score)

Set up generator to make API request

In [36]:
api_request_generator = api.search_submissions(subreddit='AmITheAsshole', score = ">2000")

Grab data for each Reddit submission and make it into a dataframe.

In [37]:
aita_submissions = pd.DataFrame([submission.d_ for submission in api_request_generator])

Check how many Reddit posts have been collected.

In [38]:
aita_submissions.shape

(2587, 80)

Check what columns/metadata are in the dataframe.

In [39]:
aita_submissions.columns

Index(['all_awardings', 'allow_live_comments', 'author',
       'author_flair_css_class', 'author_flair_richtext', 'author_flair_text',
       'author_flair_type', 'author_fullname', 'author_is_blocked',
       'author_patreon_flair', 'author_premium', 'awarders', 'can_mod_post',
       'contest_mode', 'created_utc', 'domain', 'edited', 'full_link',
       'gildings', 'id', 'is_created_from_ads_ui', 'is_crosspostable',
       'is_meta', 'is_original_content', 'is_reddit_media_domain',
       'is_robot_indexable', 'is_self', 'is_video',
       'link_flair_background_color', 'link_flair_richtext',
       'link_flair_text_color', 'link_flair_type', 'locked', 'media_only',
       'no_follow', 'num_comments', 'num_crossposts', 'over_18',
       'parent_whitelist_status', 'permalink', 'pinned', 'pwls',
       'retrieved_on', 'score', 'selftext', 'send_replies', 'spoiler',
       'stickied', 'subreddit', 'subreddit_id', 'subreddit_subscribers',
       'subreddit_type', 'suggested_sort', 'thumbnail', 'title',
       'total_awards_received', 'treatment_tags', 'upvote_ratio', 'url',
       'whitelist_status', 'wls', 'created', 'author_flair_background_color',
       'author_flair_template_id', 'author_flair_text_color',
       'link_flair_template_id', 'link_flair_text', 'top_awarded_type',
       'gilded', 'removed_by_category', 'post_hint', 'preview', 'banned_by',
       'link_flair_css_class', 'author_cakeday', 'steward_reports',
       'updated_utc', 'og_description', 'og_title', 'rte_mode'],
      dtype='object')

In [40]:
aita_submissions[['title', 'score']].sample(10)

                                                  title  score
2052  WIBTA If I locked my own room just so my roomm...   4363
897   AITA for refusing to go to any more Thanksgivi...   2449
2353  AITA For being extremely upset and consequentl...   2100
459            AITA for not babysitting for my roommate   2479
503   AITA for refusing to visit my mother with my c...   2897
2279  AITA For telling my sister if her kids can't h...   5212
1589  AITA for not outing my dad, who I found on a g...  26300
792   AITA for not picking my girlfriend up for a bi...  27683
1288  AITA for quitting a job my mother got me becau...   2039
1000  AITA For not letting a coworker know that they...   2764

Only select columns of interest and assign to a new dataframe.

In [43]:
aita_final = aita_submissions[['author', 'title', 'selftext', 'url', 'subreddit', 'score', 'num_comments', 'num_crossposts']]

aita_final

,author,title,selftext,url,subreddit,score,num_comments,num_crossposts
0,57996A4333,AITA for revealing to my wife's family we didn...,EDIT/ I didn't know about what my wife was doi...,https://www.reddit.com/r/AmItheAsshole/comment...,AmItheAsshole,3650,2157,1
1,Glittering_Sun_554,AITA for telling my husband I won’t be calling...,I’m currently 38+2 days pregnant and expected ...,https://www.reddit.com/r/AmItheAsshole/comment...,AmItheAsshole,2944,1397,1
2,Spiritual_Weekend_78,AITA because I didn't let my daughter skip a g...,My kids are Jonah (14M) and Emma (12F) and my ...,https://www.reddit.com/r/AmItheAsshole/comment...,AmItheAsshole,4461,5529,2
3,Additional_Whereas_6,UPDATE: AITA for booking to go away the same t...,Not sure if anyone really wanted an update but...,https://www.reddit.com/r/AmItheAsshole/comment...,AmItheAsshole,8481,1796,1
4,throwaway-o10,AITA for moving out because my bf won’t do any...,My bf and I moved in together at the start of ...,https://www.reddit.com/r/AmItheAsshole/comment...,AmItheAsshole,2462,1356,0
...,...,...,...,...,...,...,...,...
2582,kleen_next,AITA for shutting off the power to my neighbor...,I live in a building where the breaker box is ...,https://www.reddit.com/r/AmItheAsshole/comment...,AmItheAsshole,2330,200,0
2583,BackgroundJellyfish,AITA for hitting my girlfriend out of reflex f...,"Hi, so my girlfriend and i watched a horror mo...",https://www.reddit.com/r/AmItheAsshole/comment...,AmItheAsshole,2719,405,1
2584,Marylebone_Road,AITA for thinking that this sub is only so peo...,,https://www.reddit.com/r/AmItheAsshole/comment...,AmItheAsshole,2001,104,0
2585,grizzythekid,AITA for throwing a soda on the ground near th...,I was going to McDonald's for a quick bite to ...,https://www.reddit.com/r/AmItheAsshole/comment...,AmItheAsshole,3532,90,0
2586,Pettheftthrow,AITA for refusing to return a lost pet?,So over two years ago a cat appeared in my yar...,https://www.reddit.com/r/AmItheAsshole/comment...,AmItheAsshole,2387,169,0

Now, we can export our finalized cleaned dataframe into a csv file.

In [44]:
aita_final.to_csv("top_aita_submissions.csv", encoding='utf-8', index=False)