# Data Collection and Cleaning with Jupyter

## Introduction to Jupyter Notebook

Jupyter Notebook is a really easy and user friendly way to experiment with Python code, combining code with notes and documentation. You can do all of this without having use the command line, and the resulting file can be easily published and shared with other people.

An Jupyter Notebook consists of a number of "cells," stacked on the page from top to bottom. Cells can have text or code in them. You can change a cell's type using the "Cell" menu at the top of the page; go to Cell > Cell Type and select either Code for Python code or Markdown for text. (You can also change this for the current cell using the drop-down menu in the toolbar.)

#### Text Cells
Make a new cell, change its type to Markdown, type some stuff and click run. Jupyter Notebook will "render" the text and display it on the page in rendered format. You can hit Enter or click in the cell to edit its contents again. Text in Markdown cells is rendered according to a set of conventions called Markdown, a language for marking up text using formatting instructions.

#### Code Cells

In [ ]:
print("This is a code cell.")
print("")
print("Any Python code you type in this cell will be run when you press the 'Run' button,")

You can define variables or import modules in one code cell and it will be available for you to in all subsequent code cells.

In [1]:
import random
animals = ["dog", "cat", "elephant", "zebra"]

Now, you can use the list of animals and the random module in the cell below.

In [2]:
print(random.choice(animals))

elephant

## Python Modules

Modules refer to a file containing Python statements and definitions. Above, we imported the random module which has many functions for randomizing distributions of numbers. We used the choice function which returns a random element from a sequence.

Throughout, we will be using common modules.

In [6]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd


## Data Collection

For the purposes of our introductory sprint, we will be collecting data either through importing a csv file or web scraping (specifically with social media), but we will focus on web scraping in a later notebook.

In this, we will be using a dataset on school district demographics in New York City. This data was downloaded from [NYC Open Data](https://data.cityofnewyork.us/Education/School-District-Breakdowns/g3vh-kbnw).

In [8]:
school = pd.read_csv('school_district_breakdowns.csv')

We can use the head function to show the first five rows of the dataset (or tail to show the last five rows).

In [9]:
display(school.head())

,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,PERCENT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
0,CSD 01 Manhattan,11,4,0.36,7,0.64,0,0,11,100,...,11,100,0,0.00,11,1.00,0,0,11,100
1,CSD 02 Manhattan,124,70,0.56,54,0.44,0,0,124,100,...,124,100,38,0.31,86,0.69,0,0,124,100
2,CSD 03 Manhattan,38,26,0.68,12,0.32,0,0,38,100,...,38,100,14,0.37,24,0.63,0,0,38,100
3,CSD 04 Manhattan,20,13,0.65,7,0.35,0,0,20,100,...,20,100,8,0.40,12,0.60,0,0,20,100
4,CSD 05 Manhattan,7,4,0.57,3,0.43,0,0,7,100,...,7,100,1,0.14,6,0.86,0,0,7,100